.buttonGroup {
  display: flex;
  column-gap: 0.2rem;
  position: absolute;
  /* rtl:ignore */
  right: 0.5rem;
  top: 0.5rem;
}

.buttonGroup button {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  color: #abb2bf;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 0.4rem;
  line-height: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

.buttonGroup button:focus-visible,
.buttonGroup button:hover {
  opacity: 1 !important;
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.15);
  color: #ffffff;
}

:global(.theme-code-block:hover) .buttonGroup button {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .buttonGroup {
    right: 0.375rem;
    top: 0.375rem;
  }
  
  .buttonGroup button {
    padding: 0.3rem;
  }
}
