.codeBlock {
  --ifm-pre-background: #18181C;
  margin: 0;
  padding: 0;
  font-size: 0.875em;
}

.codeBlockStandalone {
  padding: 0;
}

.codeBlockLines {
  font: inherit;
  /* rtl:ignore */
  float: left;
  min-width: 100%;
  padding: 1rem;
}

.codeBlockLinesWithNumbering {
  display: table;
  padding: 1rem 0;
}

@media print {
  .codeBlockLines {
    white-space: pre-wrap;
  }
}

@media screen and (max-width: 768px) {
  .codeBlockLines {
    padding: 0.75rem;
  }
  
  .codeBlockLinesWithNumbering {
    padding: 0.75rem 0;
  }
}
